

@media screen and (max-width: 767px) {
    #menu-toggle fa-icon{
        display: none;
    
    }
 }


 #wrapper {
    color: white;
    background-color: rgb(34, 34, 34);
    transition: background-color 1s ease;
 }


#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #222729;
    position: fixed;
    transition: all 0.2s;
}

#sidebar-wrapper h2 {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
    padding-right: 7%;
}

#sidebar-wrapper p {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
    padding-top: 0;
    padding-right: 7%
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    transition: all .2s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: static;
    margin: 0;
    padding: 0;
}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 20%;
    transition: all .2s;
    position: fixed;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 20%;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-nav #top-item {
    border-top: 1px solid #494747;
}

.sidebar-nav li {
    line-height: 40px;
    border-bottom: 1px solid #494747;
}

.sidebar-nav li a fa-icon {
    margin-right: 1em;
    float: left;
}


.sidebar-nav li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 1em;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: right;
    padding-right: 7%;
}

.sidebar-nav li a:hover {
    background: rgba(0, 0, 0, 0.15);
}

#bars {
    font-size: 24px;
    color: white;
    padding-left: 5px;
}

#menu-toggle {
    position: fixed;
    cursor: pointer;
}

/* Color change */

.color-black {
    background-color: rgb(34, 34, 34) !important;
}

.color-blue {
    background-color: #2F8FED !important;
}

.color-darkblue {
    background-color: #3e3e51 !important;
}

.color-grey {
    background-color: #525659 !important;
}

.color-red {
    background-color: #C83327   !important;
}


.section-header {
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
}

/* Home */

#home {
    width: 100%;
    height: 100vh
}
#home #home-layout {
    color: white;
    text-align: center; 
}

#home #home-layout h1{
    font-family: "Playfair Display", serif;
    font-size: 60px;
    padding-bottom: 30px;
}

#home #home-layout p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }

  #headshot {
    border-radius: 50%;
    padding-top: 10px;
  }

  #home-social a{
    color: white;
    font-size: 40px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 0;
  }
  
  #home-social a:hover {
      color: #343a40;
  }

  #info {
      margin-top: 100px;
  }
  
  #learn-more {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
  }

  .btn-outline-white {
    color: white;
    border-color: white;
  }
  
  .btn-outline-white:hover {
    color: black;
    background-color: white;
    border-color: white;
  }
  
  .btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  .btn-outline-white.disabled, .btn-outline-white:disabled {
    color: white;
    background-color: transparent;
  }
  
  .btn-outline-white:not(:disabled):not(.disabled):active, .btn-outline-white:not(:disabled):not(.disabled).active,
  .show > .btn-outline-white.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: white;
  }
  
  .btn-outline-white:not(:disabled):not(.disabled):active:focus, .btn-outline-white:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }

  #about {
      width: 100%;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      overflow: hidden;
  }

  #about p {
    display: inline-block;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
  }

  /* Project */
  #projects h1 {
    text-align: center;
    padding-bottom: 50px;
  }

  .proj-container {
      text-align: center;
      color: black;
  }

  .grid-item {
      padding-bottom: 20px;
  }

  #emuLadderbg {
      background-image: url("/assets/emuLadderBackground.png");
      background-repeat: no-repeat;
      background-size: 380px 380px;
      
  }

  /* Resume */


  #resume object {
      width: 900px;
      height: 1150px;
      display: block;
      margin: auto;
  }

  /* Contact */

  #contact-other {
      padding-bottom: 50px;
  }
  #other-header {
      text-align: center;
  }

  .phone-email {
      text-align: center;
  }

.phone-email h3 {
    display: inline;
    font-size: 24px;
}

.phone-email h4 {
    display: inline;
    font-size: 20px;
}

#modals {
    color: black;
}