@media screen and (max-width: 768px) {
    #menu-toggle fa-icon{
        display: none;
    
    }
 }

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #222729;
    position: fixed;
    transition: all 0.2s;
}

#sidebar-wrapper h2 {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
    padding-right: 7%;
}

#sidebar-wrapper p {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
    text-align: right;
    padding-top: 0;
    padding-right: 7%
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    transition: all .2s;
}

#wrapper.menuDisplayed #sidebar-wrapper {
    width: 300px;
    transition: all .2s;
    position: fixed;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 300px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-nav #top-item {
    border-top: 1px solid #494747;
}

.sidebar-nav li {
    line-height: 40px;
    border-bottom: 1px solid #494747;
}

.sidebar-nav li a fa-icon {
    margin-right: 1em;
    float: left;
}


.sidebar-nav li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: right;
    padding-right: 7%;
}

/* .sidebar-nav li a:focus {
    background-color: rgba(0, 0, 0, 0.15);
} */

.sidebar-nav li a:hover {
    background: rgba(0, 0, 0, 0.15);
}

#menu-toggle fa-icon{
    font-size: 24px;
    color: #222729;;

}

/* Main Content */

#home {
    background-image: url("./assets/nasa-Q1p7bh3SHj8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
  }