<div id="wrapper" [class.menuDisplayed]="wasClicked">

    <div id="sidebar-wrapper">
        <div id=logo>
            <h2>Robert Meyer</h2>
            <p>Software Developer</p>
        </div>
        <ul class="sidebar-nav">
            <li id="top-item"><a href="#home"><fa-icon [icon]="faHome"></fa-icon>Home</a></li>
            <li><a href="#about"><fa-icon [icon]="faUser"></fa-icon>About Me</a></li>
            <li><a href="#projects"><fa-icon [icon]="faTh"></fa-icon>Projects</a></li>
            <li><a href="#resume"><fa-icon [icon]="faFile"></fa-icon>Resume</a></li>
            <li><a href="#contact"><fa-icon [icon]="faEnvelope"></fa-icon>Contact</a></li>

        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <section id="home" class="panel" data-color="black">
                        <span id="menu-toggle" (click)="onClick()"><fa-icon id="bars" [icon]="faBars"></fa-icon></span>
                        <div id="home-layout">
                            <img id="headshot" src="/assets/headshot.jpg" alt="WHY">
                            <h1>Robert Meyer</h1>
                            <p>Software Developer</p>
                            <div id="info">
                                <div id="home-social">
                                    <a href="https://github.com/rhmeyer314"><fa-icon [icon]="faGithub"></fa-icon></a>
                                    <a href="https://www.linkedin.com/in/rhmeyer314/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                                </div>
                                <a href="#about" id="learn-more" class="btn btn-outline-white btn-lg">Learn More</a>
                            </div>
                            
                        </div>
                    </section>
                    <section id="about" class="panel" data-color="blue">
                        <h1>About Me</h1>
                        <h1>.</h1>
                    </section>
                    <section id="projects" class="panel" data-color="red">
                        <h1>Projects</h1>
                    </section>
                    <section id="resume" class="panel" data-color="grey">
                        <h1>Resume</h1>
                    </section>
                    <section id="contact" class="panel" data-color="green">
                        <h1>Contact</h1>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>