<div id="wrapper" [class.menuDisplayed]="wasClicked">

    <div id="sidebar-wrapper">
        <div id=logo>
            <h2>Robert Meyer</h2>
            <p>Software Developer</p>
        </div>
        <ul class="sidebar-nav">
            <li id="top-item"><a href="#home"><fa-icon [icon]="faHome"></fa-icon>Home</a></li>
            <li><a href="#about"><fa-icon [icon]="faUser"></fa-icon>About Me</a></li>
            <li><a href="#projects"><fa-icon [icon]="faTh"></fa-icon>Projects</a></li>
            <li><a href="#resume"><fa-icon [icon]="faFile"></fa-icon>Resume</a></li>
            <li><a href="#contact"><fa-icon [icon]="faEnvelope"></fa-icon>Contact</a></li>

        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <section id="home" class="panel" data-color="black">
                        <span id="menu-toggle" (click)="onClick()"><fa-icon id="bars" [icon]="faBars"></fa-icon></span>
                        <div id="home-layout">
                            <img id="headshot" src="/assets/headshot.jpg" alt="WHY">
                            <h1 class="section-header">Robert Meyer</h1>
                            <p>Software Developer</p>
                            <div id="info">
                                <div id="home-social">
                                    <a href="https://github.com/rhmeyer314"><fa-icon [icon]="faGithub"></fa-icon></a>
                                    <a href="https://www.linkedin.com/in/rhmeyer314/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                                </div>
                                <a href="#about" id="learn-more" class="btn btn-outline-white btn-lg">Learn More</a>
                            </div>
                            
                        </div>
                    </section>
                    <section id="about" class="panel" data-color="blue">
                        <div class="container">
                            <h1 class="section-header">About Me</h1>
                            <p>I am an aspiring Software Developer who recently graduated with a B.S. in Computer Science at the University of North Carolina at Greensboro.
                                I have been programming for 3 years, with skills in programming languages such as Java, Python, JavaScript, and many more. During my time as a
                                student, I worked as a Computer Science Tutor and Lab Assistant. I assisted in helping students have a better understanding of the Java programming
                                language and any computer science concept from any course. I have a strong passion for anything related to programming, and I love learning new things!
                            </p>
                        </div>
                    </section>
                    <section id="projects" class="panel" data-color="orange">
                        <h1 class="section-header">Projects</h1>
                        <div class="container proj-container">
                            <div class="row">
                              <div class="col-sm grid-item" *ngFor="let project of projectsArray">
                                  <div class="card">
                                      <img src={{project.imageURL}} class="card-img-top">
                                      <div class="card-body">
                                        <h4 class="card-title">{{project.title}}</h4>
                                        <h6>{{project.type}}</h6>
                                        <p class="card-text">{{project.description}}</p>
                                        <a href={{project.projectURL}} class="btn btn-primary">Learn More</a>
                                      </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                    </section>
                    <section id="resume" class="panel" data-color="grey">
                        <h1 class="section-header">Resume</h1>
                        <object data="/assets/Robert_Meyer_Resume.pdf"></object>
                    </section>
                    <section id="contact" class="panel" data-color="green">
                        <h1 class="section-header">Contact</h1>
                        <input type="text" name="name" placeholder="Name" [(ngModel)]="name">
                        <input type="text" name="email" placeholder="Email" [(ngModel)]="subject">
                        <textarea name="message" placeholder="message" [(ngModel)]="message"></textarea>
                        <button id="submit" type="submit" (click)="createEmail()">Send</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>