* {
    margin: 0;
    padding: 0;
    list-style: none;

}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #222729;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    text-decoration: none;
}

ul li:hover a {
    background: rgba(0, 0, 0, 0.15);
}

.sidebar ul a fa-icon {
    margin-right: 5%;
}